{% extends 'base.html' %}
{% load bootstrap_tags %}


{% block body %}
<hr>

<!-- Tab links for services -->
<div class="container-fluid">

        <legend>Services</legend>


<div class="row dash">

<div class="col-md-7 col-xs-7">

    <div class="card" id="conPanel">
     <div id="serviceTab">
        <ul class="nav nav-pills mb-3 nav-filter nav-justified">
            <li class="nav-item"><a class='nav-link active' data-toggle="pill" href="#server">Connect to server</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#nginx">Install NginX</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#database">Install DB</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#php">Install PHP</a></li>
        </ul>
     </div><!-- End of panel  -->
 <div class="tab-content clearfix">
    <div id="server" class="tab-pane active">
      <h3>Connect to server</h3>
      <form method="post" action="" class="connectServer" onsubmit="return validateConnectServer()">
        {% csrf_token %}
        {{ form2|as_bootstrap }}
        <div class="form-group">
          <button type="submit" name="create_server" id="create_server" class="btn btn-primary">Connect</button>
        </div>
      </form>
    </div><!-- End of server connection tab  -->
    <div id="nginx" class="tab-pane">
      <h3>Install Nginx</h3>
      <form method="post" action="" class="installNginx">
        {% csrf_token %}
          {{ form3|as_bootstrap }}
      <div class="form-group">
        <button type="submit" id="install_nginx" name="install_nginx" class="btn btn-primary">Install</button>
      </div>
    </form>
    </div><!-- End of Nginx install tab  -->
    <div id="database" class="tab-pane">
    <div class="row">
     <div class="col-md-5">
      <h3>Install database servers</h3>
      <form method="post" action="" class="createDB">
        {% csrf_token %}
        {{ form1|as_bootstrap }}
        <div class="form-group">
            <button type="submit" name="create_db" id="create_db" class="btn btn-primary">Install</button>
        </div>
    </form>
      </div>
        <div class="col-md-6">
             <div class="panel panel-modest" style="background-color: lightgray;">
             </br>
                <legend>Services</legend>
                 <p>This service installs a chosen database-server on one of your connected servers.</p>
                 <p>Instructions:</p>
                 <ul>
                     <li>Select a database server and the server it will be installed on.</li>
                     <li>Provide a database name for a new empty database that will be created after
                         database-server installation is complete.</li>
                     <li>Provide a username and password for a new database user.</li>
                     <li>Provide password for sudo user on selected server.</li>
                 </ul>
                 <p>This installation will:</p>
                 <ul>
                     <li>Install necessary packages for the database-server to run on selected server.</li>
                     <li>Start the database-server.</li>
                     <li>Create a new, empty database.</li>
                     <li>Create a user with all privileges to the chosen database type.</li>
                     <li>Remove any test databases that comes with the database software installation.</li>
                     <li>Remove any anonymous users that may be present.</li>
                 </ul>
             </div>
        </div>
       </div>
     </div><!-- End of database install tab -->
     <div id="php" class="tab-pane">
        <h3>Install PHP</h3>
        <form method="post" action="" class="installPHP">
            {% csrf_token %}
            {{ form4|as_bootstrap }}
          <div class="form-group">
            <button type="submit" id="install_php" name="install_php" class="btn btn-primary">Install</button>
          </div>
        </form>
     </div><!-- End of PHP install tab  -->
    </div><!-- End of tab content  -->
  </div><!-- End of panel  -->
</div><!-- End of col  -->

        <div class="col-md-5 col-xs-7">
            <div class="card" id="serviceFeedback">
                <div class="card-heading"><legend>Service feedback</legend></div>
                <div class="card-body">
                    <div class="table-responsive">
                        <p id="service_time">{{ t_output }}</p>
                        <table class="table table-striped" >
                         <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Server</th>
                              <th scope="col">Process</th>
                              <th scope="col">Status</th>
                            </tr>
                         </thead>
                          <tbody id="outputTable">
                          </tbody>
                         </table>
                    </div>
                </div>
            </div><!-- End of panel  -->
        </div><!-- End of col  -->
    </div> <!-- End of row  -->
</div>  <!-- End of container  -->

{% endblock %}