{% extends 'base.html' %}
{% load bootstrap_tags %}


{% block head %}
<title>Dashboard</title>
{% endblock  %}

{% block body %}
<div class="content">
    <legend>Dashboard</legend>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-xs-7">
        <div class="card" id="conPanel">
            <legend>Server connections</legend>
            <div id="connectionProcess"></div>
        <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">

              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Server name</th>
                  <th scope="col">IP</th>
                  <th scope="col">Status</th>
                  <th scope="col">
                      <form method="POST" class="checkConn">
                           {% csrf_token %}
                          <button type="submit" id="submit" value="submit" name="submit" class="btn btn-light">
                              <span id="cProgress" class="fas fa-angle-right"></span>
                          </button>
                      </form>
                  </th>
                </tr>
              </thead>

              <tbody>
               {% for qresult in qresultList %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ qresult.servername }}</td>
                  <td>{{ qresult.ip }}</td>
                  <td id="serverstatus{{ forloop.counter }}">---</td>
                  <td id="checking{{ forloop.counter }}"></td>
                </tr>
               {% endfor %}
              </tbody>

            </table>
        </div>
        </div>
        </div>
      </div>
        <div class="col-md-4 col-xs-7">
            <div class="card" id="conPanel">
                <legend>Nginx webserver hosting</legend>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-7">
            <div class="card" id="conPanel">
                <legend>Database servers</legend>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}

