{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block javascript %}
  <script>
$(document).ready(function(){
    var $myForm = $('.checkConn');
    $myForm.submit(function(event){
        event.preventDefault();
        var $formData = $(this).serialize();
        var $thisURL = 'CheckConn/';
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError
        })
    });

    function handleFormSuccess(data, textStatus, jqXHR){
        console.log(data);
        console.log(textStatus);
        console.log(jqXHR);
        document.getElementById('smutt').innerHTML = data.toString();
        document.getElementById("serverstatus").style.color = "red";
    }

    function handleFormError(jqXHR, textStatus, errorThrown){
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
    }
})
  </script>
{% endblock %}

{% block head %}
<title>Dashboard</title>
{% endblock  %}

{% block body %}
<div class="container-fluid">
    <div class="jumbotron" id="dashboardTitle">
    <legend>Dashboard</legend>
    </div>
<div>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-xs-7">
        <div class="panel panel-modest" id="conPanel">
            <legend>Server connections</legend>
            <table class="table">

              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Server name</th>
                  <th scope="col">IP</th>
                  <th scope="col">Status</th>
                  <th scope="col">
                      <form method="POSS" class="checkConn">
                           {% csrf_token %}
                          <button type="submit" name="conn_check" class="btn btn-light">Test Ajax</button>
                      </form>
                  </th>
                </tr>
              </thead>

              <tbody>
               {% for qresult in qresultList %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ qresult.servername }}</td>
                  <td>{{ qresult.ip }}</td>
                  <td id="serverstatus">N/A</td>
                </tr>
               {% endfor %}
              </tbody>

            </table>
        </div>
      </div>
        <div class="col-md-3 col-xs-7">
            <form class="ajax-test" method="POST">
                {% csrf_token %}
                {{ ajaxForm|as_bootstrap }}
                 <button type="submit" name="create_db" class="btn btn-primary">Test Ajax</button>
            </form>
            <div id="smutt">Bobobobob</div>
        </div>
    </div>
</div>


{% endblock %}

<script type="text/javascript">
          var status=document.getElementById("serverstatus").innerText;
  var running = "Running";

  if (status === running){
    document.getElementById("serverstatus").style.color = "green";
  }
  else{
    document.getElementById("serverstatus").style.color = "red";
  }
</script>
