{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block body %}
    <hr>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" method="post">
                       {% csrf_token %}
                    <h1>Register</h1>
                    {{ form|as_bootstrap }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}