{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block body %}
<hr>

<!-- Tab links for services -->

<div class="larg">
    <div>
        <h3>Connect to server<span class="entypo-down-open"></span></h3>
        <form method="post" action="">
            {% csrf_token %}
            {{ form2|as_bootstrap }}
            <div class="form-group">
                <button type="submit" name="create_server" class="btn btn-primary">Create</button>
            </div>
        </form>
  </div>
    <div>
      <h3>Connect domain<span class="entypo-down-open"></span></h3>
        <form method="post" action="">
            {% csrf_token %}
               <div class="form-group">
                <button type="submit" name="connect_domain" class="btn btn-primary">Create</button>
                </div>
        </form>
  </div>
    <div>
      <h3>Create a database on your server<span class="entypo-down-open"></span></h3>
        <form method="post" action="">
            {% csrf_token %}
            {{ form1|as_bootstrap }}
            <div class="form-group">
                <button type="submit" name="create_db" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>


{% endblock %}